h2{
    background-color: black; 
    text-align: center; 
    color: red; 
    padding: 5px;
}

@media screen{
    .container{
        background-color: lightblue;
        padding: 5px;
        border: 3px solid black;
        text-align: center;
    }
    dl{
        display: grid;
        grid-template-columns: 6fr 6fr;
    }
    dd{
        line-height: 30px;
    }
}
@media print{
    .container{
        background-color: lightblue;
        padding: 5px;
        border: 1px solid goldenrod;
        text-align: center;
    }
    dl{
        display: grid;
        grid-template-columns: 12fr;
    }
    dd{
        line-height: 30px;
    }
    img, button, h1{
        display: none;
    }
}